.tile {
  display: inline-flex;
  min-width: 23px;
}

.rock {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-rock03.png');
  background-color: transparent;
  background-size: cover;
  background-size: 23px auto;
}

.tree {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-tree01.png');
  background-color: transparent;
  background-size: cover;
  background-size: 23px 23px;
  min-width: 23px;
}

.grass {
  background-image: url('/assets/tiles/generic-rpg-tile03.png');
  background-color: transparent;
  width: 23px;
  height: 23px;
  min-width: 23px;
}

.vfence {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-fence-raw11.png');
  background-color: transparent;
  background-size: 23px 23px;
}

.hfence {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-fence-raw03.png');
  background-color: transparent;
  background-size: 23px 23px;
}

.jfence {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-fence-raw05.png');
  background-color: transparent;
  background-size: 23px 23px;
}

.walk {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-fence-raw05.png');
  background-color: transparent;
  background-size: 23px 23px;
}

.clay {
  background-image: url('/assets/tiles/generic-rpg-tile09.png');
  background-color: transparent;
  width: 23px;
  height: 23px;
}

.water {
  background-image: url('/assets/tiles/generic-rpg-tile-waterfall02.png');
  background-color: transparent;
  width: 23px;
  height: 23px;
}

.crate {
  background-image: url('/assets/props\ n\ decorations/generic-rpg-crate02.png');
  background-color: transparent;
  background-size: 23px 23px;
}
.entire-page {
  max-height: 100vh;
}